# dependencies
/node_modules
/.pnpm-store/

# Next.js
/.next/
/out/

# production
/build

# local environment files
.env*
!.env.example

# logs
*.log

# TypeScript
*.tsbuildinfo

# operating systems and editors
.DS_Store
Thumbs.db
.idea/
.vscode/
